<% include ../partials/header %>
<ul class = "navbar" style="list-style: none;">
  <li><a class="active" href="/logout">Log Out</a></li>
</ul>
<body class = "tripsBody">
<div class = "container">
  <% include ../partials/message %>
  <br>
  <div class = "content">
    <p id = "mainHeader">Travel Dash</p>
    <h2 id = "tagline2"><%= name %>'s Trips</h2> <!--insert logic here-->
    <table class = 'table'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Flight</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i<trips.length; i++){ %>
            <tr>
                <td><%= trips[i].title %></td>
                <td><%= trips[i].description %></td>
                <td><%= trips[i].flight_id %></td>
              <% } %>
            </tr>
          </tbody>
        </table>
    <h2 id = "question">Create New Trip</h2>
    <form action="/trips" method="post" id = "standardBody">
      <select class="activities" name="flight_id">
          <option id = "option" value="" disabled selected>Select Flight</option>
          <% for(var i = 0; i<flights.length; i++){ %>
          <option value="<%= flights[i].id %>"><%= flights[i].title %></option> <!--insert logic here-->
          <% } %>
      </select>
      <input type="text" name="title" placeholder="Trip Title">
      <input type="text" name="description" placeholder="Description">
      <input type="submit">
    </form>
  </div>
</div>
<% include ../partials/footer %>
