<% include ../partials/header %>
<% include ../partials/navbar %>
<body class = "tripsBody">
<div class = "container">
  <div class = "content">
    <h1 id = "mainHeader">Travel Dash</h1>
    <h2 id = "question"><%= name %>'s Trips</h2> <!--insert logic here-->
    <table class = 'table'>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Flight</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i<trips.length; i++){ %>
            <tr>
                <td><%= trips[i].title %></td>
                <td><%= trips[i].description %></td>
                <td><%= trips[i].flight_id %></td>
              <% } %>
            </tr>
          </tbody>
        </table>
    <h2 id = "question">Create New Trip</h2>
    <p id = "standardBody">Select Flight</p>
    <form action="/trips" method="post" id = "standardBody">
      <select class="activities" name="flight">
          <option id = "option" value="" disabled selected>Select Flight</option>
          <% for(var i = 0; i<trips.length; i++){ %>
          <option id = "option" value=""><%=  %></option> <!--insert logic here-->
          <% } %>
      </select>
      <input type="text" name="title" placeholder="Trip Title">
      <input type="text" name="description" placeholder="Description">
      <input type="submit">
    </form>
  </div>
</div>
<% include ../partials/footer %>
